In [1]:
import pandas as pd

In [2]:
sp=pd.read_csv(r"C:\Users\sowjanya\Desktop\StudentsPerformance.csv")

In [3]:
sp.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
sp.shape

(1000, 8)

In [5]:
# 1) Create % Column based on Math, Reading & Writing Scores

In [6]:
sp["Percentage"]=(sp["math score"]+sp["reading score"]+sp["writing score"])/3

In [7]:
sp

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Percentage
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000
998,female,group D,some college,standard,completed,68,78,77,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,83.000000

In [8]:
sp.shape

(1000, 9)

In [9]:
# 2) Find out how many male students are there whose percentage is greater than 50%

In [10]:
print("The Male students having >50% are :",len(sp.loc[(sp["Percentage"]>50) & (sp["gender"]=='male')]))

The Male students having >50% are : 417

In [11]:
# 3) Find out how many male students are there whose percentage is less than 50%

In [12]:
print("The Male students having <50% are :",len(sp.loc[(sp["Percentage"]<50) & (sp["gender"]=='male')]))

The Male students having <50% are : 64

In [13]:
# 4) Find out how many female students are there whose percentage is greater than 50%

In [14]:
print("The Female students having >50% are :",len(sp.loc[(sp["Percentage"]>50) & (sp["gender"]=='female')]))

The Female students having >50% are : 474

In [15]:
# 5) Find out how many female students are there whose percentage is less than 50%

In [16]:
print("The Female students having <50% are :",len(sp.loc[(sp["Percentage"]<50) & (sp["gender"]=='female')]))

The Female students having <50% are : 39

In [17]:
# 6) Findout how many female candidates are there in the data

In [18]:
print("The Female students present in the data are :",len(sp.loc[sp["gender"]=='female']))

The Female students present in the data are : 518

In [19]:
# 7) Findout how many male candidates are there in the data

In [20]:
print("The Male students present in the data are :",len(sp.loc[sp["gender"]=='male']))

The Male students present in the data are : 482

In [21]:
# 8) Findout how many students parental level of education is bachelor's degree

In [22]:
print("The students parents with bachelor's degree are :",len(sp.loc[sp["parental level of education"]=="bachelor's degree"]))

The students parents with bachelor's degree are : 118

In [23]:
# 9) Findout how many male and female candidates are there for standard lunch

In [24]:
print("The Male students having Standard Lunch are :",len(sp.loc[(sp["lunch"]=="standard") & (sp["gender"]=="male")]))

The Male students having Standard Lunch are : 316

In [25]:
print("The Female students having Standard Lunch are :",len(sp.loc[(sp["lunch"]=="standard") & (sp["gender"]=="female")]))

The Female students having Standard Lunch are : 329

In [26]:
print("The Total students having Standard Lunch are :",len(sp.loc[(sp["lunch"]=="standard")]))

The Total students having Standard Lunch are : 645

In [27]:
# 10) Findout how many male and female candidates are there for free/reduced lunch

In [28]:
print("The Totla students having Free Lunch are :",len(sp.loc[(sp["lunch"]=="free/reduced")]))

The Totla students having Free Lunch are : 355

In [29]:
print("The Female students having Free Lunch are :",len(sp.loc[(sp["lunch"]=="free/reduced") & (sp["gender"]=="female")]))

The Female students having Free Lunch are : 189

In [30]:
print("The Male students having Free Lunch are :",len(sp.loc[(sp["lunch"]=="free/reduced") & (sp["gender"]=="male")]))

The Male students having Free Lunch are : 166